<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Django_Restaurant_Staffing{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'location-list' %}">Locations</a></li>
                <li><a href="{% url 'jobposting-list' %}">Job Postings</a></li>
                <li><a href="{% url 'application-list' %}">Applications</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Django_Restaurant_Staffing</p>
    </footer>
</body>
</html>