{% extends "header.html" %}

{% block content %}
<style>
    body {
      background-image: url('/static/images/staff.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 90% 75%;
      background-position: bottom;
      background-position-y: 90%;
    }
</style>
  <h1>Welcome to our Restaurant Staffing Website</h1>
  <p>Here you can find and apply for job postings at our restaurant locations.</p>
  <p>Login and use the links above to get started!</p>
{% endblock %}