<header class="site-header" style="margin-bottom: 5px">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <nav class="navbar navbar-expand-md navbar-color">
            <div class="container">
                <!-- Navbar Left Side -->
                <div class="navbar-nav">
                    <a class="w3-bar-item w3-button" href="/">Home</a>
                </div>
                <button aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler ml-auto float-right btncolor" data-target="#navbarToggle" data-toggle="collapse" type="button">
                        <i class="fa-sharp fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <!-- Navbar Left Side -->
                    <div class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                            <a class="w3-bar-item w3-button" href="{% url 'jobposting_list' %}">Job Postings</a>
                            {% if user.is_restaurant_administrator %}
                                <a class="w3-bar-item w3-button" href="{% url 'location_list' %}">Locations</a>
                            {% endif %}
                            {% if user.is_hiring_manager %}
                                <a class="w3-bar-item w3-button" href="{% url 'application_list' %}">Applications</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <a class="w3-bar-item w3-button" href="{% url 'admin:index' %}">Admin</a>
                            {% endif %}
                            <a class="w3-bar-item w3-button" href="{% url 'profile' user.email %}">
                                {{user.email}} <i class="fas fa-user"></i>
                            </a>
                            <a class="w3-bar-item w3-button" href="{% url 'logout' %}">
                                Log out <i class="fas fa-sign-out-alt"></i>
                            </a>
                        {% else %}
                            <a class="w3-bar-item w3-button" href="{% url 'login' %}">
                                Log in <i class="fas fa-sign-in-alt"></i>
                            </a>
                            <a class="w3-bar-item w3-button" href="{% url 'register' %}">
                                Sign up <i class="fas fa-user-plus"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>