{% extends 'header.html' %}
{% block content %}
  <h1>Current Applications</h1>
  <div class="container-fluid">
    <table style="width:100%">
      <thead>
        <tr>
          <th>Applicant</th>
          <th>Job Posting</th>
          <th>Date Applied</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for application in object_list %}
          <tr>
            <td>{{ application.applicant }}</td>
            <td>{{ application.job_posting }}</td>
            <td>{{ application.date_applied }}</td>
            <td>{{ application.status }}</td>
            <td><a href="{% url 'application-detail' application.pk %}">View</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No applications found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}